<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <f:loadBundle var="navMenu" basename="org.javasoft.rms.i18n.profile.admin.menu"/>
        <ui:insert name="profile-image"/>
        <ui:insert name="profile-menu"/>
    </h:body>
</html>
