/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Dec, 2017, 11:42:45 AM
    Author     : ayojava
*/
body{
    font-family: 'Ubuntu Mono', monospace;
}
.content{
    border: 1px solid #d9d9d9;
    margin-left: 203px;
    position: inherit;
    min-height: 568px;
    border-radius: 0.25rem;
}

.menubar{
    position :absolute;
}
/*
.ui-selectonemenu-label .ui-inputfield .ui-corner-all{
    padding: 0px !important;
}

#loginForm:selProfile_label{
    padding: 0px !important;
*/
 
