<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/adminProfile/menu/menu-template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="profile-image">
        <ui:include src="/WEB-INF/includes/adminProfile/menu/image.xhtml"/>
    </ui:define>
    
    <ui:define name="profile-menu">
        <div class="row">
            <ui:include src="/WEB-INF/includes/adminProfile/menu/menu.xhtml"/>
        </div>
    </ui:define>
</ui:composition>
