<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui" >
    
    <h:body>
        <div class="col-md-12">
            <o:form id="profileImageForm">
                <p:outputPanel id="imgPanel">
                    <c:choose>
                        <c:when test="#{profileImageBean.imageFlag}">
                            <p:graphicImage name="icon/pics/avatar.png" library="images" 
                                            class="img-circle"/>   
                        </c:when>
                        <c:when test="#{not profileImageBean.imageFlag}">
                          <p:graphicImage value="#{profileImageBean.streamedImage}" cache="false" 
                                          class="img-circle"/> 
                        </c:when>
                    </c:choose>
                </p:outputPanel>
            </o:form>
        </div>
    </h:body>
</html>

