<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:body>
        <div class="col-md-12 mt-1">
            <o:form id="adminMenuForm">
                <o:importConstants type="org.javasoft.rms.admin.AdminProfileResourceIntf" var="adminResource"/>
                
                <p:tieredMenu id="adminNavMenu" style="width: 100% ;border-radius: 8px;" >
                    <p:menuitem id="headMenu" value="#{navMenu['admin-menu.home']}"  icon="fa fa-home fa-1g"
                                action="#{dashBoardPageBean.setPagePath(adminResource.VIEW_HOME_PAGE)}" update=":homeForm"/>
                    <p:separator />
                    
                </p:tieredMenu>
            </o:form>
        </div>
    </h:body>
</html>

