<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:pnx="http://www.javasoft.org/primefacesExt/primefacelets2.0" 
      xmlns:of="http://omnifaces.org/functions"  xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:loadBundle basename="org.javasoft.rms.i18n.profile.admin.admin-summary-dashboard" var="adminSummary"/> 
    <h:body>
        <pnx:pageDivider id="dashboard" title="#{adminSummary['admin-summary-dashboard.title']}"  
                         dividerIconClass="fa fa-tachometer fa-2g" help="#{adminSummary['admin-summary-dashboard.help']}">
            <ui:define name="properties">
                <p:outputPanel id="adminDashBoardPanel">
                    <div class="row">
                        <div class="col-md-12">
                            <p:spacer height="5"/>
                        </div>  
                    </div>
                    <div class="card-group">
                        <div class="card border-secondary">
                            <div class="card-header">
                                <i class="fa fa-building fa-2x"></i>
                                <p:spacer width="15"/>
                                #{adminSummary['admin-summary-dashboard.residentialUnits']}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-success">
                                        #{adminSummary['admin-summary-dashboard.availableUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-success">
                                        #{dashBoardPageBean.estateUnitVO.availableResidentialUnits}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-primary">
                                        #{adminSummary['admin-summary-dashboard.occupiedUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-primary">
                                        #{dashBoardPageBean.estateUnitVO.occupiedResidentialUnits}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-warning">
                                        #{adminSummary['admin-summary-dashboard.damagedUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-warning">
                                        #{dashBoardPageBean.estateUnitVO.damagedResidentialUnits}
                                    </span>
                                </li>
                                <li class="list-group-item bg-light">
                                    <span class="text-secondary font-weight-bold">
                                        #{adminSummary['admin-summary-dashboard.totalResidentialUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-secondary font-weight-bold">
                                        #{dashBoardPageBean.estateUnitVO.totalResidentialUnits}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="card border-secondary">
                            <div class="card-header">
                                <i class="fa fa-building fa-2x"></i>
                                <p:spacer width="15"/>
                                #{adminSummary['admin-summary-dashboard.nonResidentialUnits']}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-success">
                                        #{adminSummary['admin-summary-dashboard.availableUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-success">
                                        #{dashBoardPageBean.estateUnitVO.availableNonResidentialUnits}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-primary">
                                        #{adminSummary['admin-summary-dashboard.occupiedUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-primary">
                                        #{dashBoardPageBean.estateUnitVO.occupiedNonResidentialUnits}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-warning">
                                        #{adminSummary['admin-summary-dashboard.damagedUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-warning">
                                        #{dashBoardPageBean.estateUnitVO.damagedNonResidentialUnits}
                                    </span>
                                </li>
                                <li class="list-group-item bg-light">
                                    <span class="text-secondary font-weight-bold">
                                        #{adminSummary['admin-summary-dashboard.totalNonResidentialUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-secondary font-weight-bold">
                                        #{dashBoardPageBean.estateUnitVO.totalNonResidentialUnits}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="card border-secondary">
                            <div class="card-header">
                                <i class="fa fa-building fa-2x"></i>
                                <p:spacer width="15"/>
                                #{adminSummary['admin-summary-dashboard.estateUnits']}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-primary">
                                        #{adminSummary['admin-summary-dashboard.totalNonResidentialUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-primary">
                                        #{dashBoardPageBean.estateUnitVO.totalNonResidentialUnits}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-success">
                                        #{adminSummary['admin-summary-dashboard.totalResidentialUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-success">
                                        #{dashBoardPageBean.estateUnitVO.totalResidentialUnits}
                                    </span>
                                </li>
                                <li class="list-group-item bg-light">
                                    <span class="text-secondary font-weight-bold">
                                        #{adminSummary['admin-summary-dashboard.totalEstateUnits']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-secondary font-weight-bold">
                                        #{(dashBoardPageBean.estateUnitVO.totalResidentialUnits) + (dashBoardPageBean.estateUnitVO.totalNonResidentialUnits)}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-group">
                        <div class="card border-secondary">
                            <div class="card-header">
                                <i class="fa fa-male fa-2x"></i>
                                <p:spacer width="15"/>
                                #{adminSummary['admin-summary-dashboard.residents']}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-success">
                                        #{adminSummary['admin-summary-dashboard.realResidents']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-success">
                                        #{dashBoardPageBean.residentVO.realResident}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-primary">
                                        #{adminSummary['admin-summary-dashboard.virtualResidents']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-primary">
                                        #{dashBoardPageBean.residentVO.virtualResident}
                                    </span>
                                </li>
                                <li class="list-group-item bg-light">
                                    <span class="text-secondary font-weight-bold">
                                        #{adminSummary['admin-summary-dashboard.totalResidents']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-secondary font-weight-bold">
                                        #{(dashBoardPageBean.residentVO.realResident) + (dashBoardPageBean.residentVO.virtualResident)}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="card border-secondary">
                            <div class="card-header">
                                <i class="fa fa-user fa-2x"></i>
                                <p:spacer width="15"/>
                                #{adminSummary['admin-summary-dashboard.onlineUsers']}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-primary">
                                        #{adminSummary['admin-summary-dashboard.adminProfile']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-primary">
                                        #{dashBoardPageBean.dashboardVO.loggedInAdminProfile}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-primary">
                                        #{adminSummary['admin-summary-dashboard.residentProfile']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-primary">
                                        #{dashBoardPageBean.dashboardVO.loggedInResidentProfile}
                                    </span>
                                </li>
                                <li class="list-group-item bg-light">
                                    <span class="text-secondary font-weight-bold">
                                        #{adminSummary['admin-summary-dashboard.totalOnlineUsers']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-secondary font-weight-bold">
                                        #{(dashBoardPageBean.dashboardVO.loggedInAdminProfile) + (dashBoardPageBean.dashboardVO.loggedInResidentProfile)}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="card border-secondary">
                            <div class="card-header">
                                <i class="fa fa-envelope fa-2x"></i>
                                <p:spacer width="15"/>
                                #{adminSummary['admin-summary-dashboard.mailBox']}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-info">
                                        #{adminSummary['admin-summary-dashboard.read']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-info">
                                        0
                                    </span>
                                </li> 
                                <li class="list-group-item">
                                    <span class="text-info">
                                        #{adminSummary['admin-summary-dashboard.unRead']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-info">
                                        0
                                    </span>
                                </li> 
                                <li class="list-group-item">
                                    <span class="text-success">
                                        #{adminSummary['admin-summary-dashboard.drafts']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-success">
                                        0
                                    </span>
                                </li> 
                                <li class="list-group-item bg-light">
                                    <span class="text-secondary">
                                        #{adminSummary['admin-summary-dashboard.totalMails']} 
                                    </span>
                                    <p:spacer width="25"/>
                                    <span class="badge badge-pill badge-secondary">
                                       0
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </p:outputPanel>
            </ui:define>
        </pnx:pageDivider>
    </h:body>
    <</html>

