<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            <ui:insert name="pageTitle"/>
        </title>
        <ui:include src="/WEB-INF/common/resources.xhtml"/>  
        <o:importFunctions type="org.apache.commons.lang3.text.WordUtils" var="wordUtils"/>
        <o:importFunctions type="org.apache.commons.lang3.StringUtils" var="stringUtils"/>
        <f:loadBundle basename="org.javasoft.rms.i18n.profile.home" var="home"/>       
    </h:head>
    <h:body styleClass="m-2" style="background-color: #eaeff2">
        <div class = "container-fluid">
            <div id="TopHeader" class="row" style="background-color: #525262 ;color: #d1d1e4">
                <ui:insert name="topNavBar">Top</ui:insert>
            </div>
            <div class="mt-2">
                <div class="menubar">
                    <ui:insert name="menu-contents">Left</ui:insert>
                </div>
                <div class="content">
                     <ui:insert name="body-contents">Right</ui:insert>   
                </div>
            </div>
            <div id="footer" class="row">
                <ui:insert name="bottom">Bottom</ui:insert> 
            </div>
        </div>
    </h:body>
</html>
