<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:pnx="http://www.javasoft.org/primefacesExt/primefacelets2.0"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  xmlns:p="http://primefaces.org/ui" xmlns:of="http://omnifaces.org/functions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <h:body>
        <pnx:navbar id="navbar">
            <ui:define name="title">
                <p:graphicImage name="icon/resident-32px.png" library="images" class="rounded" 
                                style="width: 45px;display: inline-block; vertical-align: middle"/>
                <h3 style="" class="ml-3 font-weight-bold text-light">
                    #{home['home-header.title']}
                    <small>
                        #{home['home-header.description']}
                    </small>  
                </h3>
            </ui:define>
            <ui:define name="left">
                <p:ajaxStatus style="width:25px;height:30px;" styleClass="center-block">
                    <f:facet name="start">
                        <p:graphicImage name="icon/pics/ajax-loading.gif" library="images" />
                    </f:facet>
                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus> 
            </ui:define>
            <ui:define name="middle">
                <div class="float-left">
                    <p:spacer width="8" height="25"/>
                    <span class="h5">
                        <em>#{home['home-header.welcomeText']}</em>    
                    </span>
                    <p:spacer width="8"/>
                    <i class="fa fa-home fa-1g"/>
                    <p:spacer width="4" height="25"/>
                    <span class="h5">
                        <em>
                            <strong>#{userSessionBean.userIdentityDTO.userName}  @ #{of:capitalize(userSessionBean.loggedinProfile.profileName)}</strong>
                        </em>
                    </span>
                </div>
                <div class="float-right">
                    <em>
                        <script type="text/javascript" >
                            var d = new Date();
                            var weekday = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
                            var monthname = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
                            document.write(weekday[d.getDay()] + ", ");
                            document.write(monthname[d.getMonth()] + " ");
                            document.write(d.getDate() + " ");
                            document.write(d.getFullYear() + ".");
                        </script>
                    </em>
                </div>
            </ui:define>
            <ui:define name="right">
                <div class="pull-right">
                    <p:commandLink ajax="false" action="#{logOutBean.logOut()}">
                        <p:graphicImage name="icon/pics/logout.png" library="images" title="#{home['home-header.logout']}"/>
                    </p:commandLink>
                    <p:spacer width="65" height="30"/>
                </div>
            </ui:define>
        </pnx:navbar>
    </h:body>
</html>




