<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <!-- Primefacelets  -->
        <h:outputStylesheet library="css" name="primefacelets-components.css"/>
        <h:outputStylesheet library="css" name="primefacelets-css.css"/>
        <h:outputStylesheet library="css" name="primefacelets-icons.css"/>

        <f:facet name="last">
            <!-- project css  -->
            <h:outputStylesheet library="css" name="rms-css.css"/>
        </f:facet>


        <!-- webjars  -->
        <h:outputStylesheet library="webjars" name="bootstrap/4.0.0-beta/css/bootstrap-jsf.css"/>

        <!-- Java Functions  -->
        <o:importFunctions type="java.lang.Math" var="math" />

        <!-- RMS constants  -->
        <o:importConstants type="org.javasoft.rmsLib.utils.constants.RmsConstants" var="rmsConstants"/>
        
        <!-- View constants  -->
        <o:importConstants type="org.javasoft.cms.primefacelets.ViewConstants" var="viewConstants"/>
   
    </ui:composition>
</html>
