<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:o="http://omnifaces.org/ui">

    <h:body>
        <div class="container" style="margin-top: 5%">
            <o:form id="loginForm">
                <p:growl id="growl" globalOnly="true" sticky="false"/>
                <div class="row">
                    <div class="mx-auto">
                        <o:messages id="loginErrorMsg" layout="table" for="loginForm" message="#{login['login-content.validationMessage']}" 
                                    styleClass="alert alert-danger"/> 
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto" style="width:270px;">
                        <div class="card bg-light rounded border border-secondary">
                            <div class="card-header">
                                <h5 class="text-primary ml-2 mt-1">
                                    #{login['login-content.loginInfo']} 
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <p:graphicImage name="icon/pics/avatar.png" library="images" styleClass="rounded-circle mx-auto"
                                                    style="width: 80px;"/>
                                </div>
                                <fieldset class="form-group">
                                    <p:outputLabel id="userNameLbl" for="userNameTxt" value="#{login['login-content.userName']} " styleClass="pl-2 text-dark"/>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                                        </span>
                                        <p:inputText id="userNameTxt" autocomplete="off" placeholder="#{login['watermark.username']}"
                                                     styleClass="form-control" required="true"
                                                     value="#{loginBean.userName}" onkeyup="return changeToUpperCase(this);"            
                                                     onchange="return changeToUpperCase(this);"/>
                                    </div>
                                </fieldset>

                                <fieldset class="form-group">
                                    <p:outputLabel id="passwordLbl" for="passwordTxt" value="#{login['login-content.password']}" styleClass="pl-2 text-dark"/>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </span>
                                        <p:password id="passwordTxt" autocomplete="off" styleClass="form-control" 
                                                    placeholder="#{login['watermark.password']}"
                                                    required="true" value="#{loginBean.password}"/> 
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <p:outputLabel id="profileLbl" for="selProfile" value="#{login['login-content.profile']} *" 
                                                   styleClass="pl-2 text-dark"/>
                                    <div class="input-group input-group-sm">
                                        <p:selectOneMenu id="selProfile"  converter="omnifaces.SelectItemsConverter" 
                                                         value="#{loginBean.profileId}" styleClass="form-control">
                                                                                        
                                            <f:selectItems value="#{dbSelectMenuBean.profileDTOs}" var="profile" itemLabel="#{profile.profileName}" 
                                                           itemValue="#{profile.profileId}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>

                                <p:commandButton id="loginBtn" value="#{login['login-content.login']}" 
                                                 styleClass="btn-block pnx-round-button mb-2"
                                                 ajax="false" update="@form" action="#{loginBean.login()}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </o:form>

        </div>
    </h:body>
</html>
