<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            <ui:insert name="pageTitle"/>
        </title>
        <ui:include src="/WEB-INF/common/resources.xhtml"/>
        <f:loadBundle basename="org.javasoft.rms.i18n.profile.login" var="login"/>       
    </h:head>
    <h:body>
        <ui:insert name="login-body">
            <ui:include src="/WEB-INF/includes/login/login-content.xhtml"/> 
        </ui:insert> 
    </h:body>
</html>

