<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:o="http://omnifaces.org/ui"  xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:of="http://omnifaces.org/functions" template="/WEB-INF/templates/home-template.xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="pageTitle">
        #{home['home-header.description']}
    </ui:define>

    <ui:define name="topNavBar">
        insert header
    </ui:define>

    <ui:define name="menu-contents">
        <ui:include src="#{navigatorBean.selectedMenuPath}"/>
    </ui:define>

    <ui:define name="body-contents">
        <c:choose>
            <c:when test="#{userSessionBean.loggedinProfile.adminProfile}">
                <o:importConstants type="org.javasoft.rms.resource.admin.MenuResource" var="menuResource"/>
            </c:when>
            <c:when test="#{userSessionBean.loggedinProfile.residentProfile}">

            </c:when>
        </c:choose>
        <o:form id="homeForm" enctype="multipart/form-data">
            <p:growl id="msgHome" globalOnly="true" sticky="false" />

            <div class="col-md-12">
                Present link
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <o:messages id="homeFormErrorMsg"  for="homeForm" message="#{home['home.globalErrorMessage']}" 
                            styleClass="mx-auto bg-danger text-white p-1 m-1" />
            </div>
            <div class="col-md-3">

            </div>
            <div class="row">
                <p:tooltip />
                <ui:include src="#{navigatorBean.selectedPagePath}"/>
            </div>
            <o:highlight styleClass="text-danger"/>
        </o:form>  
    </ui:define>

    <ui:define name="bottom">
        insert footer
    </ui:define>


</ui:composition>
