<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/login/login-template.xhtml">
    <ui:define name="pageTitle">
        #{login['login-content.pageTitle']}
    </ui:define>
</ui:composition>
